/* Custom Login Page */

body.login {	
	background: #f7f7f7;
}

.login h1 a:link,
.login h1 a:visited {
  	background-image: url('../../img/logo_black.png');
  	background-size: 80%;
  	width: 100%;
  	height: 100px;
}

.login form {
	box-shadow: none;
	border-radius: 5px;
}

.login form .input, 
.login form input[type=checkbox], 
.login input[type=text] {
	background: #f7f7f7;
	border-radius: 5px;
	border: none;
	box-shadow: none;
}

#loginform .submit input[type="submit"] {
	background: #000000;
	border: none;
	box-shadow: none;
	color: #ffffff;
	font-weight: 700;
	text-shadow: none;
	text-transform: uppercase;
	transition: all .1s linear;
}

#loginform .submit input[type="submit"]:hover {
	opacity: .5;
}

.login #backtoblog a:hover,
.login #backtoblog a:active,
.login #nav a:hover,
.login #nav a:active {
	color: #000000;
}

.login #login_error, .login .message {
	border: none;
	border-radius: 5px;
	box-shadow: none;
}